:root {
  --bg-color: #434343;
  --main-text-color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-text-color);

  background-color: var(--bg-color);
}
